services:
  db:
    image: postgres:15-alpine
    container_name: postgres_local
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: user_dev
      POSTGRES_PASSWORD: password_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
